<!DOCTYPE html>
<html>
<head>
    <!-- Importing Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Project Caerus</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-content>
                <v-navigation-drawer
                        v-model="drawer"
                        absolute
                        temporary
                        color="primary"
                >
                    <v-list>
                        <v-list-tile
                                v-for="item in items"
                                :key="item.title"
                                @click="changePage(item.page)"
                        >
                            <v-list-tile-action>
                                <v-icon>{{ item.icon }}</v-icon>
                            </v-list-tile-action>

                            <v-list-tile-content>
                                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </v-navigation-drawer>

                <v-toolbar dark color="primary">
                    <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
                    <v-toolbar-title>Project Caerus</v-toolbar-title>
                </v-toolbar>

                <home v-if="page === 'home'" ></home>
                <view-demo v-if="page === 'viewDemo'" ></view-demo>
                <new-demo v-if="page === 'newDemo'" ></new-demo>
            </v-content>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="login.js"></script>
    <script src="home.js"></script>
    <script src="viewDemo.js"></script>
    <script src="newDemo.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    show: false,
                    drawer: false,
                    page: 'home',
                    items: [
                        { title: 'Home', icon: 'home', page: 'home'},
                        { title: 'Saved Demos', icon: 'view_list', page: 'viewDemo'},
                        { title: 'New Demos', icon: 'add_box', page: 'newDemo'}
                    ]
                }
            },
            methods: {
                showLogin: function (garbage) {
                    console.log(garbage);
                    this.show = !this.show;
                },
                changePage: function (newPage){
                    console.log(newPage);
                    this.page = newPage;
                }
            }
        })
    </script>
</body>
</html>
